# Discord
DISCORD_TOKEN=
DISCORD_PERMISSIONS=

# Server
GUILD_ID=

# Channels
ADMIN_FORUM_CHANNEL_ID=

# Roles
UNVERIFIED_ROLE_ID=
PENDING_ROLE_ID=
VERIFIED_ROLE_ID=

# Microsoft #! (WIP)

# SMTP
MS_SMTP_EMAIL=
MS_SMTP_APP_PASSWORD=

# Graph API
MS_CLIENT_ID=
MS_CLIENT_SECRET=
MS_TENANT_ID=

# SMPP #! (WIP, might not work because the data does not have one. The ### Number on there ###)
# https://smsapiph.netlify.app
SMS_KEY =

# 2FA
TWOFA_EXPIRY_MINUTES=10

# Queue
QUEUE_STATE_PATH=queue/state.json
SMPP_RATE_LIMIT=10
MS_RATE_LIMIT=30